#dialog_overlay {   background: none repeat scroll 0 0 #000000;  bottom: 0;  display: none;   left: 0; position: fixed;   right: 0;  top: 0;  z-index: 1100;  opacity: 0.2; }
	
#dialog_box { position:absolute; left:20%; 	right:20%; 	border:8px solid #666; 	background-color:#f9f9f9; padding:10px;	z-index:1200;	display:none;	}
		
#dialog_box .close { width:100%; text-align:right;	}
#dialog_box .close .txt { color:#000;	font-family:Verdana, Geneva, sans-serif; cursor:pointer; font-size:13px; font-weight:bold; }
#dialog_data{ overflow:scroll; 	max-height:400px;	overflow-X:hidden; 	padding-bottom:20px; }
.instant_error {  padding:5px;   background-color:#ffeeee;   color:#FF0000; font-family:Verdana, Geneva, sans-serif;   font-size:9px;   border:1px solid #F00; }

.anchr { color:#0085F9; font-family:Tahoma, Geneva, sans-serif;   text-decoration:underline; }
.anchr:visited {  color:#0085F9; font-family:Tahoma, Geneva, sans-serif; text-decoration:underline; }

.more_link {
  width:90%; padding:5px; margin-top:1px; text-align:center;  background-color:#efefef;  font-family:Verdana, Geneva, sans-serif; font-size:11px;  border:1px solid #ddd;
}


#dialog_box_for_admin {	width:250px; left:34%; 	right:34%; 	border:4px solid #F30; 	background-color:#f9f9f9; 
		padding:4px; z-index:1200; float:right; margin-top:20px; text-align:center; }
		
	
.error{ font-size:10px; color:#FF0000; float:left; margin-left:55px; }

img:-moz-broken,
img:-moz-user-disabled { -moz-force-broken-image-icon: 1; }
img:-moz-broken:not([width]),
img:-moz-user-disabled:not([width]) {	width: 30px; }
img:-moz-broken:not([height]),
img:-moz-user-disabled:not([height]) {	height: 30px; }



.info, .success, .warning, .error, .validation {
        margin: 10px 10px 10px 10px;
        padding:8px 8px 8px 40px;
        background-repeat: no-repeat;
        background-position: 10px center;
		text-align:left;
		width:98%;
    }
    .info {
        font-family:Arial, Helvetica, sans-serif; 
        font-size:13px;
        color: #00529B;
        background-color: #BDE5F8;
        background-image: url(../images/info.png);
		width:98%;
    }
    .success {
        font-family:Arial, Helvetica, sans-serif; 
        font-size:13px;
        color: #4F8A10;
        background-color: #DFF2BF;
        background-image:url(../images/success.png);
		width:98%;
    }
    .warning {
        font-family:Arial, Helvetica, sans-serif; 
        font-size:13px;
        color: #9F6000;
        background-color: #FEEFB3;
        background-image: url(../images/validation.png);
		width:98%;
    }
    .error {
        font-family:Arial, Helvetica, sans-serif; 
        font-size:13px;
        color: #D8000C;
        background-color: #FFBABA;
        background-image: url(../images/error.png);
		width:98%;
    }
    .validation {
        font:1.3em/1.5em "Trebuchet MS", Arial, Helvetica, sans-serif;
        background: #eee url(../images/error.png) 7px 5px no-repeat;
    }
	.validation_msg div{ margin-left:20px; display:list-item; list-style: inside; list-style-type:circle}
	.validation_msg *{font:.9em/1.4 arial; color:#c00 }					
		
  }

  #alert_box{width:100%; height:100%; overflow:hidden; background-color:#222; background:rgba(1,1,1,.8); position:fixed; left:0; top:0; z-index:9999}
	#alert_box .alert_area, * html .alert_area{
		position:fixed; z-index:9999; left:30%; width:40%; border:8px solid #666; border-radius:10px; box-shadow:0 0 2px 5px rgba(2,2,2,.7); top:25%; background-color:#f9f9f9; padding:10px;
	}
	#alert_box .close{
		width:100%; text-align:right;	
	}
	#alert_box .close .txt{
		color:#F00; font:bold 12px Arial, Helvetica, sans-serif; cursor:pointer;
	}
	
.required {
	font-size:10px;
	color: #FF0000;
	font-weight: bold;
}

a.morelink {
	text-decoration:underline;
	color:#3b5998;	
}
.morecontent span {
	display: none;
}
.list11 li a:hover{color:#fd7a1a; border-bottom:solid 1px #f4f4f4; display:block; padding:10px 15px}